body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* beige */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a8e6cf; /* mint */
    color: #004d40;
    text-align: center;
    padding: 20px 0;
}

h1, h2, h3 {
    color: #00695c;
}


.profile-pic {
    display: block;
    margin: 15px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 3px solid #00695c;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #e0f7fa; /* light cyan */
    border-radius: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

img {
    display: block;
    margin: 10px auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    background-color: #a8e6cf;
    color: #004d40;
    padding: 10px 0;
    margin-top: 20px;
    font-style: italic;
}
